*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*margin-left: 0;
	margin-right: 0;
	*/
}

html, body {
    width: 90%;
    height: 100%;
}

body {
    overflow: hidden;
    margin: 20px 20px 20px 20px;
	background-color: #242424;
}

.table {
	display: table;
	margin: auto;


}

#background {
	position: absolute;
	border-style: solid;
	width: 97%;
	height: 95%;
	background-color: gray;
}

#username {
	position: abosolute;
}

#password {
	position: abosolute;
	left: 100px;
}

h1{
	position: relative;
	background: #3b6ab1;
	padding: 20px 20px;
	text-align: center;
	display: inline-block;

}

h3{
	padding: 10px;
}
/* */
nav{
	height: 80px;
	background: #ce4343;
	padding-top: 18px;
}

/* invisible box following each button  */
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
/*  background: #ddd; */
	content: center;
}
/* Change style of buttons */
nav li{
	display: inline-block;
	background: #242424;
	text-align: center;
	margin-right: 70px;
	padding: 14px 16px;
}

header{
	
	background: #3b6ab1;
	width: 100%;
}
/* ---Does not affect anything that i can see
header::after {
	content: '';
	display: table;
	clear: both;
}
*/

nav a{
	
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-decoration: none;
}
