*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*margin-left: 0;
	margin-right: 0;
	*/
}

html, body {
    width: 90%;
    height: 100%;
}

body {
    overflow: hidden;
    margin: 20px 20px 20px 20px;
	background-color: #242424;
}

.table {
	display: table;
	margin: 0 auto;
}
#background {
	position: absolute;
	border-style: solid;
	width: 97%;
	height: 95%;
	background-color: gray;
}

#username {
	position: abosolute;
}

#password {
	position: abosolute;
	left: 100px;
}

nav{
	height: 80px;
}


nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	content: center;
}

nav li{
	display: inline-block;
	border-style: solid;
	margin-right: 70px;
	padding-bottom: 30px;
}

header{
	
	background: #3b6ab1;
	width: 100%;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

nav a{
	
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-decoration: none;
}
