<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
		<meta http-equiv='cache-control' content='no-cache'>
		<meta http-equiv='expires' content='0'>
		<meta http-equiv='pragma' content='no-cache'>
    	<title>Hackathon21</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>

	body>
        <div id="background">

            <header>
                <h1>Dashboard</h1>
                <h3>Displays drugs that are low in inventory </h3>
                    <nav>
                        <div class="table">
                        <ul>
                            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>				
                            <li><a href="{{ url_for('medications') }}">Medications</a></li>
                            <li><a href="{{ url_for('inventory') }}">Inventory</a></li>
                            <li><a href="{{ url_for('contact') }}">Contact</a></li>
                        </ul>
                        </div>
                    </nav>
                <hr/>
            </header>

        <content>
            <h2>This is content</h2>
        </content>



        </div>
	</body>
</html>
