<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
		<meta http-equiv='cache-control' content='no-cache'>
		<meta http-equiv='expires' content='0'>
		<meta http-equiv='pragma' content='no-cache'>
    	<title>Hackathon21</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.0/dist/chart.min.js"></script>
	</head>

	<body>
        <div id="background">

            <header>
                <h1>Dashboard</h1>
                <h3>Displays drugs that are low in inventory </h3>
                    <nav>
                        <div class="table">
                        <ul>
                            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>				
                            <li><a href="{{ url_for('medications') }}">Medications</a></li>
                            <li><a href="{{ url_for('inventory') }}">Inventory</a></li>
                            <li><a href="{{ url_for('contact') }}">Contact</a></li>
                        </ul>
                        </div>
                    </nav>
                <hr/>
            </header>

        <content>
            <h2>This is content</h2>
			<button type="button" id="request" width="20" height='20'>request</button>
			<script>
				document.querySelector('#request').addEventListener('click', () => {
				console.log("script2");
					xml = new XMLHttpRequest();
					xml.onreadystatechange = function() {
						if (this.readyState === 4 && this.status === 200) {
							console.log("debug1");
							console.log(this.response);
							//parseResponseJson(JSON.parse(this.response));
						}
					};
					xml.open('GET', "/graph_info");
					xml.send();
				});
			</script>

            
            <canvas id="chart" width="400" height="400"></canvas>
             <script> 
                var ctx = document.getElementById('chart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                            label: '# of Votes',
                            data: [12, 19, 3, 5, 2, 3],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false
                    }
                });
             </script>
             
             
              
             
            

        
        </content>



        </div>
	</body>
</html>
