<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
		<meta http-equiv='cache-control' content='no-cache'>
		<meta http-equiv='expires' content='0'>
		<meta http-equiv='pragma' content='no-cache'>
    	<title>Hackathon21</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		<div id="background">
			<header>
				<h1>Home page</h1>
					<nav>
						<div class="table">
							<ul>
								<li><a href="{{ url_for('hospitals') }}">Hospitals</a></li>				
								<li><a href="{{ url_for('medications') }}">Medications</a></li>
								<li><a href="{{ url_for('inventory') }}">Supply Levels</a></li>
								<li><a href="{{ url_for('contact') }}">Contact</a></li>
							</ul>
						</div>
					</nav>
				<hr/>
				<div id="nav_bar">
				</div>
			</header>
		</div>
		<!-- will display graphs of lowest supply levels or levels that require most attention-->
		<main>

		</main>
	<!--<script src="{{ url_for('static', filename='script.js') }}"></script>-->
	</body>
</html>
