<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
    <title>P3 Team 6</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<form method="post" action="{{ url_for('verify_login') }}">
		{{ form.csrf_token }}
		<div  id=username>
			{{ form.username }}
			{{ form.username.label }}
		</div>
		<div id=password>
			{{ form.password }}
			{{ form.password.label }}
		</div>
		<input type=submit id="submit_button"></input>
	</form>
	<!--<script src="{{ url_for('static', filename='script.js') }}"></script>-->
</body>
</html>
